@model PetShop.Models.Pet

@{
    ViewBag.Title = "Adopt";
}

<h2>Adopt</h2>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isMale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isMale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Breed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breed)
        </dd>

    </dl>
</div>
<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="form-actions no-color">
            <input type="submit" value="Adopt" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</p>
